name: Event Understanding Lab

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'
  pull_request:
    types: [opened, reopened]
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:
    inputs:
      reason:
        description: 'Why are you running this manually?'
        required: true
        default: 'Testing'

